/* Create a div with height & width of 100px.
Set its background color to green & the border radius to 50%. */
/*solution
*/
/*div {
  height: 100px;
  width: 100px;
  background-color: green;
  border-radius: 50%;
} */

/* .outer {
  height: 400px;
  width: 150px;
  background-color: pink;
  padding-top: 50px;
  padding-left: 50px;
}
.red {
  height: 100px;
  width: 100px;
  background-color: red;
  border-radius: 50%;
  margin-bottom: 5px;
}
.yellow {
  height: 100px;
  width: 100px;
  background-color: yellow;
  border-radius: 50%;
  margin-bottom: 5px;
}
.green {
  height: 100px;
  width: 100px;
  background-color: green;
  border-radius: 50%;
} */

* {
  padding: 0;
  margin: 0;
  color: white;
}

#navbar {
  height: 60px;
  background-color: #0f1111;
}
#logo {
  font-size: 25px;
  color: #f08804;
}
button {
  background-color: #f08804;
}
a {
  margin-right: 200px;
  text-decoration: none;
}
